@mixin loadAnimation($name, $delay, $opacity) {
    opacity: 0;
    position: relative;
    animation-name: $name;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    @keyframes Animation_1 {
        0% {
            opacity: 0;
            top: 50px;
        }
        100% {
            opacity: $opacity;
            top: 0;
        }
    }
}